<div class="jumbotron">
    <h2>SmartPlug - API</h2>
    <p class="lead">Narzędzie pozwala na komunikowanie się z wtyczką SmartPlug.</p>
    <p>API jest dedykowane dla urządzenia Edimax SP-2101W.</p>
</div>