<div class="wrapper" ng-controller="mainCtrl" ng-init="init()">
	<div id="status-container">
		<div class="blink error-box">{{errorString}}</div>
		<div class="spinner" ng-show="isDataProccessing">
			<span class="fa fa-cog fa-spin fa-3x fa-fw"></span>
		</div>
	</div>

		<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="box indicator indicatorLastToggle red row" data-placement="bottom" data-toggle="tooltip-indicator" title="{{indicators.LastToogleTime | amDateFormat: 'dddd, D MMMM YYYY H:mm:ss'}}">
				<div class="col-xs-3 icon">
					<div class="icon">
						<i class="fa fa-power-off"></i>
					</div>
				</div>
				<div class="col-xs-9 text-right value-box">
					<div class="value" am-time-ago="indicators.LastToogleTime"> </div>
					<div class="title">Ostatnia zmiana stanu</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="box indicator blue row">
				<div class="col-xs-2">
					<div class="icon">
						<i class="fa fa-download"></i>
					</div>
				</div>
				<div class="col-xs-10 text-right value-box">
					<div class="value">{{indicators.PowerValue}} W </div>
					<div class="title">Pobór prądu</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="box indicator orange row">
				<div class="col-xs-2">
					<div class="icon">
						<i class="fa fa-bolt"></i>
					</div>
				</div>
				<div class="col-xs-10 text-right value-box">
					<div class="value">{{indicators.CurrentValue}} A </div>
					<div class="title">Natężenie prądu</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="box indicator green row">
				<div class="col-xs-2">
					<div class="icon">
						<i class="fa fa-line-chart"></i>
					</div>
				</div>
				<div class="col-xs-10 text-right value-box">
					<div class="value">{{indicators.EnergyValue.Day}} kWh </div>
					<div class="title">Zużycie dziś</div>
				</div>
			</div>
		</div>
	</div>

	<div class="box main">
		<div class="plug-header">
			<div class="plug-icon"><i class="fa fa-plug"></i></div>
			<div class="plug-info">
				<div class="plug-name" ng-hide="editEnabled">
					{{device.Name}}
					<div class="edit-box">
						<i class="fa fa-pencil changeName-icon" data-toggle="tooltip" data-placement="right" title="Zmień nazwę urządzenia" aria-hidden="true" ng-click="enableEdit()"></i>
					</div>
				</div>
				<div class="plug-name" ng-show="editEnabled">
					<input type="text" ng-model="device.Name">
					<button class="btn btn-success btn-md btn-save" ng-click="saveDeviceName()">Zapisz</button>
				</div>
				<div class="plug-model">Model: {{device.Model}}</div>
				
			</div>
			<div class="plug-state pull-right">
				<label class="switch">
				  	<input type="checkbox" ng-change="switchStatus()" ng-model="state.IsOn">
				  	<span data-toggle="tooltip" title="Włącz/wyłącz wtyczkę" class="slider"></span>
				</label>
			</div>
		</div>

		<div id="schedule-container">
			<div class="schedule-panel">
				<div class="col-md-4">
					<h2>Harmonogram</h2>
				</div>
				<div class="col-md-8 addSchedule-container">
					<div class="" ng-hide="scheduleEditorEnabled" ng-click="enableAddSchedule()">
						<button class="btn btn-success btn-md" data-toggle="tooltip" data-placement="left" title="Utwórz nowe, zaplanowane i powtarzalne zdarzenie">Dodaj nowe zdarzenie</button>
					</div>
					<div class="row" ng-show="scheduleEditorEnabled">
								<div id="addRule-container">
			
			<div class="row">
				<div class="col-sm-4">Dzień tygodnia:</div>
				<div class="col-sm-3">Start:</div>
				<div class="col-sm-3">Koniec:</div>
				<div class="col-sm-2"></div>
			</div>
		
			<div class="row">
				<div class="col-sm-4">
					<select class="form-control" ng-model="rule.DayOfWeek">
					  <option value="1">Poniedziałek</option>
					  <option value="2">Wtorek</option>
					  <option value="3">Środa</option>
					  <option value="4">Czwartek</option>
					  <option value="5">Piątek</option>
					  <option value="6">Sobota</option>
					  <option value="0">Niedziela</option>
					</select>
				</div>
				<div  class="col-sm-3" >
					  <div id="datetimepicker" class="input-append">
						<input class="form-control" data-format="hh:mm:ss" ng-model="rule.HourStart" type="text"></input>
						<span class="add-on">
						  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
						  </i>
						</span>
					  </div>
				</div>
				<div  class="col-sm-3" >
					<div  class="col-sm-3" >
					  <div id="datetimepicker" class="input-append">
						<input class="form-control" data-format="hh:mm:ss" ng-model="rule.HourEnd" type="text"></input>
						<span class="add-on">
						  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
						  </i>
						</span>
					  </div>
				</div>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-success btn-md " ng-click="saveRule()">Zapisz</button>
				</div>
			</div>
		</div>
					</div>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>Dzień tygodnia</th>
						<th>Start</th>
						<th>Koniec</th>
						<th>Usuń</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in records">
						<td> {{x.DayOfWeek | dayOfWeek}} </td>
						<td> {{x.HourStart}} </td>
						<td> {{x.HourEnd}} </td>
						<td> 
							<button class="btn btn-xs btn-default btn-remove" ng-click="deleteRule(x.DayOfWeek, x.HourStart, x.HourEnd)">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
  $(function(){
      $('[data-toggle="tooltip-indicator"]').tooltip(); 
      $('[data-toggle="tooltip"]').tooltip(); 
  });

  $(".indicatorLastToggle").mouseenter( function(){
  	$('[data-toggle="tooltip-indicator"]').tooltip('fixTitle');
  	$('[data-toggle="tooltip-indicator"]').tooltip('show');
  });

  $(".indicatorLastToggle").mouseleave( function(){
  	$('[data-toggle="tooltip-indicator"]').tooltip('hide');
  });
</script>

<script type="text/javascript">
				  $(function() {
					$('#datetimepicker').datetimepicker({
					  pickDate: false,
					  pickSeconds: false
					});
				  });
</script>